/* Estilos Generales del Formulario de Contacto */
.contact-page {
    background-color: var(--background-color);
    padding: 2rem 0;
    padding-top: calc(2rem + 80px); /* Altura del header + padding extra */
    min-height: 100vh;
}

.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-title {
    text-align: center;
    color: #ff4d4d;
    margin-bottom: 2rem;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.75rem;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #ffb84d;
    outline: none;
    box-shadow: 0 0 5px rgba(247, 199, 69, 0.2);
}

.form-group input:focus-visible,
.form-group select:focus-visible,
.form-group textarea:focus-visible {
    border-color: #ffb84d;
    outline: 2px solid #ffb84d;
    outline-offset: 3px;
    box-shadow: 0 0 0 3px rgba(247, 199, 69, 0.2);
    transition: all 0.3s ease;
}

/* Color de fondo para area de input/select/textarea*/

.input-area{
    background-color: var(--shadow-color) !important;
    color: var(--text-color) !important;
}

/* Estilos para selectores en modo oscuro */
select {
    background-color: var(--shadow-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--shadow-color) !important;
}

/* Estilos para las opciones de los selectores */
select option {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Estilos para labels de optgroup */
select optgroup {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: bold;
}

/* Botón de Envío */
.submit-btn {
    background-color: #ff4d4d !important;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.submit-btn:focus-visible {
    transform: scale(1.05);
    box-shadow: 0 0 0 3px rgba(247, 199, 69, 0.2);;
    outline: 3px solid var(--primary-color);
    outline-offset: 3px;
}

.submit-btn:hover {
    background-color: #ff6b6b;
}

