/* Estilos Generales de Página de Precios */
.pricing-page {
    background-color: var(--background-color);
    padding-top: calc(2rem + 80px);
    min-height: 100vh;
}

.pricing-header {
    text-align: center;
    margin-bottom: 2rem;
}

.pricing-header h1 {
    color: #ff4d4d;
    margin-bottom: 1rem;
}

/* Toggle de Precios */
.pricing-toggle{
    background-color: var(--shadow-color) !important;
    border-radius: 15px;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.pricing-toggle .btn{
    border: transparent !important;
}

.pricing-toggle input {
    display: none;
}

.pricing-toggle label {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--second-color);
    font-weight: bold;
}

.pricing-toggle input:checked + label {
    background-color: #ff4d4d !important;
    border-radius: 15px;
}

.plan-hover {
    color:var(--primary-color) !important;
    font-weight: bold;
}

.tbody td, .tbody th{
    background-color: var(--accent-color) !important;
    color: var(--text-color);
}

.plan-cta:hover {
    background-color: #ff6b6b;
}

.btn-outline-primary{
    border-color: var(--primary-color);
}

.btn-primary{
    border-color: #ffb84d;
    outline: 2px solid #ffb84d;
}

.btn-outline-primary:hover{
    border-color: #ffb84d;
}

.btn-primary:hover{
    border-color: #ffb84d;
}

.plan-focus {
    outline: 3px solid #ffb84d !important;
    outline-offset: -3px;
    z-index: 2;
}

.tbody td, .tbody th{
    background-color: var(--accent-color) !important;
    color: var(--text-color);
}
 